.sheet {
  background-color: @window_bg_color;
  color: @window_fg_color;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 2px 8px 2px alpha(black, 0.07),
              0 3px 20px 10px alpha(black, 0.05),
              0 6px 32px 16px alpha(black, 0.02),
              0 0 0 1px alpha(black, .8);
}

widget.dialog {
  background: @window_bg_color;
  color: @window_fg_color;
  border-radius: 12px;
  box-shadow: 0 2px 8px 2px alpha(black, 0.07),
              0 3px 20px 10px alpha(black, 0.05),
              0 6px 32px 16px alpha(black, 0.02),
              0 0 0 1px alpha(black, .8);
}
